<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Strategic.SiteMaster" %>

<!DOCTYPE html>

<html lang="es">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Strategic</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    <link href="<%= ResolveUrl("~/Content/site.css") %>" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <nav class="navbar navbar-expand-lg navbar-light strategic-navbar">
            <div class="container-fluid">
                <a class="navbar-brand strategic-logo" href="~/">
                    <img src="/Content/images/Strategic_LOGO_PNG.png" alt="Strategic" class="strategic-logo-img" />
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNavbar" title="Alternar navegación" aria-controls="mainNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNavbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navAnalisis" role="button" data-bs-toggle="dropdown" aria-expanded="false">Análisis</a>
                            <ul class="dropdown-menu" aria-labelledby="navAnalisis">
                                <li><a class="dropdown-item" data-permission="Dashboard" href="Dashboard.aspx">Dashboard</a></li>
                                <li><a class="dropdown-item" data-permission="Recomendaciones" href="Recomendaciones.aspx">Recomendaciones</a></li>
                                <li><a class="dropdown-item" data-permission="Predicciones" href="Predicciones.aspx">Predicciones</a></li>
                                <li><a class="dropdown-item" data-permission="CompararPrecios" href="CompararPrecios.aspx">Comparar precios</a></li>
                                <li><a class="dropdown-item" data-permission="Reportes" href="Reportes.aspx">Reportes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navAutomatizaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">Automatizaciones</a>
                            <ul class="dropdown-menu" aria-labelledby="navAutomatizaciones">
                                <li><a class="dropdown-item" data-permission="ConsultarAutomatizaciones" href="ConsultarAutomatizaciones.aspx">Consultar automatizaciones</a></li>
                                <li><a class="dropdown-item" data-permission="HistorialAutomatizaciones" href="HistorialAutomatizaciones.aspx">Historial</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navCatalogo" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catálogo</a>
                            <ul class="dropdown-menu" aria-labelledby="navCatalogo">
                                <li><a class="dropdown-item" data-permission="ProductosSincronizados" href="ProductosSincronizados.aspx">Productos sincronizados</a></li>
                                <li><a class="dropdown-item" data-permission="HistorialPrecios" href="HistorialPrecios.aspx">Historial de precios</a></li>
                                <li><a class="dropdown-item" data-permission="HistorialStock" href="HistorialStock.aspx">Historial de stock</a></li>
                                <li><a class="dropdown-item" data-permission="HistorialVentas" href="HistorialVentas.aspx">Historial de ventas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navUsuariosPermisos" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios y permisos</a>
                            <ul class="dropdown-menu" aria-labelledby="navUsuariosPermisos">
                                <li><a class="dropdown-item" data-permission="ConsultarUsuarios" href="ConsultarUsuarios.aspx">Consultar usuarios</a></li>
                                <li><a class="dropdown-item" data-permission="ConsultarRoles" href="ConsultarRoles.aspx">Consultar roles</a></li>
                                <li><a class="dropdown-item" data-permission="ConsultarFamilias" href="ConsultarFamilias.aspx">Consultar familias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navIntegraciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">Integraciones</a>
                            <ul class="dropdown-menu" aria-labelledby="navIntegraciones">
                                <li><a class="dropdown-item" data-permission="ImportarDatos" href="ImportarDatos.aspx">Importar datos</a></li>
                                <li><a class="dropdown-item" data-permission="HistorialSincronizaciones" href="HistorialSincronizaciones.aspx">Historial de sincronizaciones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navCompetencia" role="button" data-bs-toggle="dropdown" aria-expanded="false">Competencia</a>
                            <ul class="dropdown-menu" aria-labelledby="navCompetencia">
                                <li><a class="dropdown-item" data-permission="ConsultarCompetidores" href="ConsultarCompetidores.aspx">Consultar competidores</a></li>
                                <li><a class="dropdown-item" data-permission="MapearProductosCompetencia" href="MapearProductosCompetencia.aspx">Mapear productos</a></li>
                                <li><a class="dropdown-item" data-permission="MonitoreoPublicacionesCompetidoras" href="MonitoreoPublicacionesCompetidoras.aspx">Monitoreo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navAuditoria" role="button" data-bs-toggle="dropdown" aria-expanded="false">Auditoría</a>
                            <ul class="dropdown-menu" aria-labelledby="navAuditoria">
                                <li><a class="dropdown-item" data-permission="ConsultarEventosSistema" href="ConsultarEventosSistema.aspx">Eventos del sistema</a></li>
                                <li><a class="dropdown-item" data-permission="RealizarBackup" href="RealizarBackup.aspx">Backup</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-permission="RenovarSuscripcion" href="RenovarSuscripcion.aspx">Suscripción</a></li>
                    </ul>
                    <ul class="navbar-nav auth-nav">
                        <li id="navLogin" runat="server" class="nav-item"><a class="nav-link" runat="server" href="~/Login">Ingresar</a></li>
                        <li id="navProfile" runat="server" class="nav-item dropdown profile-menu">
                            <a class="nav-link profile-toggle" href="#" id="navPerfil" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Perfil">
                                <svg class="profile-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                    <circle cx="12" cy="8" r="4"></circle>
                                    <path d="M4 21c0-4 3.5-7 8-7s8 3 8 7"></path>
                                </svg>
                                <span class="visually-hidden">Perfil</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navPerfil">
                                <li id="navCambiarClave" runat="server"><a class="dropdown-item" runat="server" href="~/CambiarClave">Cambiar clave</a></li>
                                <li id="navLogout" runat="server"><a class="dropdown-item logout-item" runat="server" href="~/Logout">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Strategic</p>
            </footer>
        </div>
    </form>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Scripts/bootstrap.bundle.js") %>
    </asp:PlaceHolder>
</body>
</html>
